body, html{
    background-color: #b0bec5;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#survey-form{
    border: 2px solid #9ea7aa;
    background-color: #eceff1;
    border-radius: 5px;
    margin: 30px;
    padding: 30px;
}
fieldset{
    border: none;
}
.column1{
    display: inline-block;
    text-align: right;
    width: 45%;
    vertical-align: start;
    margin-right: 10px;
}
.column2{
    display: inline-block;
    text-align: left;
    width: 40%;
    vertical-align: middle;
    margin-left: 20px;
}
#submit{
    margin: 20px;
}
